/* ==========================================================
   RESET
========================================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================================================
   BODY
========================================================== */

body{

    width:100vw;
    height:100vh;

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#111;

    font-family:Arial, Helvetica, sans-serif;
}

/* ==========================================================
   APP
========================================================== */

.app{

    position:relative;

    width:min(100vw, calc(100vh * 1536 / 1024));
    aspect-ratio:1536/1024;

}

/* ==========================================================
   BACKGROUND IMAGE
========================================================== */

#background{

    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    object-fit:fill;

    user-select:none;
    pointer-events:none;

}

/* ==========================================================
   CONTROL LAYER
========================================================== */

#controls{

    position:absolute;

    inset:0;

}

/* ==========================================================
   COMMON BUTTON STYLE
========================================================== */

.control-btn{

    position: absolute;

    left:447px;
    width:121px;
    height:33.5px;

    cursor:pointer;

    border:none;

    border-radius:5px;

    background:rgba(0,190,255,.12);

    box-shadow:
        0 0 8px rgba(0,220,255,.7),
        0 0 22px rgba(0,170,255,.45);

    transition:
        transform .15s,
        box-shadow .2s,
        background .2s;

}

/* Hover */

.control-btn:hover{

    transform:scale(1.04);

    background:rgba(0,190,255,.22);

    box-shadow:
        0 0 12px rgba(0,240,255,.95),
        0 0 28px rgba(0,180,255,.7);

}

/* Click */

.control-btn:active{

    transform:scale(.96);

}

/* ==========================================================
   MONEY BUTTONS
========================================================== */

#btn5000{

    top:120px;

    outline:1.5px solid rgba(0,220,255,.85);

}

#btn10000{

    top:165px;

    outline:1.5px solid rgba(0,220,255,.85);

}

#btn20000{

    top:210px;

    outline:1.5px solid rgba(0,220,255,.85);

}

/* ==========================================================
   ACTION BUTTONS
========================================================== */

#btnBuy{

    top:255px;

    outline:1.5px solid rgba(0,220,255,.85);

}

#btnStop{

    top:300px;

    outline:1.5px solid rgba(0,220,255,.85);

}

#btnReset{

    top:345px;

    outline:1.5px solid rgba(0,220,255,.85);

}

/* ==========================================================
   OUTPUT CONSOLE
========================================================== */

#output{

    position:absolute;

    left:31px;
    bottom:23px;

    width:533px;
    height:62px;

    /* padding:12px; */

    outline:2px solid rgba(23, 2, 27, 0.85);

    overflow-y:auto;

    color:#ffffff;

    font-size:18px;

    font-family:Consolas, monospace;

    text-shadow:0 0 8px #00D9FF;

}

/* ==========================================================
   GRAPH AREA
========================================================== */

#graph{

    position: absolute;

    right: 21px;
    top: 96px;
    
    width: 550px;
    height: 453px;
    
    border-radius: 10px;
    border: 3px dashed rgba(0, 220, 255, .55);
    
    background: rgba(0, 30, 60, .10);
    box-shadow: inset 
                0 0 20px rgba(0, 220, 255, .12)
                , 0 0 18px rgba(0, 220, 255, .25);

}

#dfaGraph{
/* 
    position:relative;

    left:50px;

    top:10px; */

    transform:translate(0px,-50px);

}

/* ==========================================================
   STATUS BAR
========================================================== */

#status{

    position: absolute;
    
    top: 407px;
    left: 428px;
    width: 155px;
    height: 200px;
    
    padding: 18px;
    
    border-radius: 10px;
    
    background: rgba(15, 25, 40, .65);
    
    border: 1px solid rgba(0, 220, 255, .45);
    box-shadow: 0 0 18px rgba(0, 220, 255, .25);
    
    backdrop-filter: blur(8px);

}

.status-row{

    display:flex;

    justify-content:space-between;

    margin-top:20px;

    color:white;

    font-size:10px;

}

.status-row span:last-child{

    color:#00E5FF;

    font-weight:bold;

}

.Status-font{

    color: rgba(130, 4, 241, 0.85);

}